/* ui-grid */
.myGrid {
    width: 640px;
    height: 350px;
  }
.ui-grid-header-cell .ui-grid-cell-contents {
    display: block;
    width: calc(100% - 12px);
}
/* mdResource for tabs */
.myApp md-content {
  background-color: transparent !important; }
  .myApp md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .myApp md-content md-tabs md-tabs-wrapper {
      background: white; }
  .myApp md-content h1:first-child {
    margin-top: 0; }

/* custom_Tooltip container */
.custom_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* custom_Tooltip text */
.custom_tooltip .custom_tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 120%;
  line-height: 80%;
}

.custom_tooltip .custom_tooltiptext::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
  font-family: monospace;
}

/* Show the custom_tooltip text when you mouse over the custom_tooltip container */
.custom_tooltip:hover .custom_tooltiptext {
  visibility: visible;
}

/* Resized textbox for location query inputs */
.resizedTextbox {width: 400px; height: 20px}
