<form ng-submit="appForm.submit()">
<md-content layout-gt-sm="row" layout-padding>
<div>
  <span class="md-headline">Distance the route covers:</span><br>
    <md-input-container>
      <label>minimum</label>
      <input type="number" ng-model="appForm.data.dist_min">
    </md-input-container>
    <md-input-container>
      <label>maximum</label>
  	  <input type="number" ng-model="appForm.data.dist_max">
    </md-input-container>
    <br><br>
  <span class="md-headline">Total elevation change along the route:</span><br>
    <md-input-container>
      <label>minimum</label>
      <input type="number" ng-model="appForm.data.elev_min">
    </md-input-container>
    <md-input-container>
      <label>maximum</label>
  	  <input type="number" ng-model="appForm.data.elev_max">
    </md-input-container>
    <br><br>

<span class="md-headline">Route types and subtypes:</span><br>
  <md-input-container>
  <label>type</label>
    <md-select ng-model='appForm.data.route_type' ng-model-options="{trackBy: '$value'}">
      <md-option ng-value="type.id" ng-repeat="type in appForm.selection.base_type">{{ type.value }}</md-option>
      <md-option value=''>Any</md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
  <label>subtype</label>
    <md-select ng-model='appForm.data.route_subtype' ng-model-options="{trackBy: '$value'}">
      <md-option ng-value="type.id" ng-repeat="type in appForm.selection.base_subtype">{{ type.value }}</md-option>
      <md-option value=''>Any</md-option>
    </md-select>
  </md-input-container><br>


	<!-- advanced options -->
	  <md-checkbox ng-model="appForm.data.loop" aria-label='loop'>Is complete loop</md-checkbox><br>
    <md-checkbox ng-model="checked" aria-label="Toggle ngHide" ng-change="clear_addresses()">search near a location</md-checkbox><br />
      <div class="check-element animate-show-hide" ng-show="checked">

        Search for routes starting near a
        <div class='custom_tooltip'>location
          <span class="custom_tooltiptext">Your search will be more accurate if you use commas to separate fields.</span>

        </div>:<br>
        <md-input-container>
        <label>Starting location</label>
          <input type="text" ng-model="appForm.data.start_loc" class='resizedTextbox'>
        </md-input-container>
        <md-input-container>
        <label>Ending location</label>
          <input type="text" ng-model="appForm.data.end_loc" class='resizedTextbox'>
        </md-input-container><br><br>
      </div>
  <input type='button' value='Reset' ng-click='reset()' />
  <input type='submit'/><br>

</div>
</md-content>
</form>
<toaster-container toaster-options="{'position-class': 'toast-center', 'close-button':true}"></toaster-container>

<div ui-view=''></div>
