<!doctype html>
<html ng-app='myApp'>
<meta charset="utf-8">
<head>
	<!-- CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet">
	<link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
	<link rel="styleSheet" href="static/css/main.css">
	<link rel="styleSheet" href="static/css/bootstrap.min.css">
	<!-- <link href="static/css/my.css" rel="stylesheet"> -->
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.js"></script>
	<script src="https://code.angularjs.org/1.5.5/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.min.js"></script>
	<script src="static/app.js"></script>
</head>

<div id="main">

<div>
	<md-content>
		<md-tabs md-dynamic-height md-boarder-bottom>
			<md-tab label='Home'>
				<md-content class='md-padding'>
					<h1 class='md-display-2'>Find a route</h1>
  						<div ui-view=""></div>
  				</md-content>
  			</md-tab>
  			<md-tab label='About'>
  				<md-content class='md-padding'>
  					<h1 class='md-display-2'>About Us</h1>
  						<p>
                In Fall of 2016 we became bothered that Strava doesn't provide a tool to search for routes. After looking around online, we found that others were annoyed by this as well. We're the kind of people that make things, fix things that are broken, and solve problems. Voilà!
              </p>
              <p>
                Find the code on <a href="https://github.com/lgoerl/stravapp">Github</a>. Tweet at us, @HANDLE.
              </p>
              <p>
                <b>Bryan Bischof</b> <a href="mailto:bryan.bischof@gmail.com">Email.</a>
              </p>
              <p>
                Bryan is a software/data engineer at Blue Bottle Coffee and mathematics Ph.D., and the founder of <a href="mailto:www.quasicoherentlabs.com">Quasicoherent Labs</a>. He is deeply interested in words, culture, and any problem worth solving.
              </p>
              <p>
                <b>Lee Goerl</b> <a href="https://www.linkedin.com/in/lgoerl/">LinkedIn</a> <a href="mailto:lgoerl@gmail.com">Email.</a>
              </p>
              <p>
                <em>Lee is on the job market!</em> He is a founding member of <a href="mailto:www.quasicoherentlabs.com">Quasicoherent labs</a>, and a mathematics Ph.D. with training in statistics. He is especially interested in machine learning, and its application to natural language processing.
              </p>
              <p>
                <b>Jeff Larson</b> <a href="mailto:jeff.redsox@gmail.com">Email.</a>
              </p>
              <p>
                Jeff is a data engineer at Clarify Health. He's excited about using this app to find new dirt loops this summer.
              </p>
              </md-content>
            </md-tab>
            <md-tab label='FAQ'>
            	<md-content class='md-padding'>
		            <h1 class='md-display-2'>FAQ</h1>
		              <p>
		                <b>Will you build XXX feature?</b>
		              </p>
		              <p>
		                Probably, maybe? Tweet at us.
		              </p>
		              <p>
		                <b>Why'd you do this, instead of someone at Strava?</b>
		              </p>
		              <p>
		                We wondered the same thing...
		              </p>
		              <p>
		                <b>How do you define loop?</b>
		              </p>
		              <p>
		                A continuous embedding of `S^1` into—oh sorry, I mean: the start and ending locations are both within a bounding box of relatively small size—which we determined to work similar to our expectations.
		              </p>
		              <p>
		                <b>Can't you do cool stuff with the segments data?</b>
		              </p>
		              <p>
		                We're getting there...
		              </p>
		              <p>
		                <b>How did you get this data? The API?</b>
		              </p>
		              <p>
		                The good ol' fashioned way, wget... The API was annoying us.
		              </p>
  				</md-content>
  			</md-tab>
  		</md-tabs>
  	</md-content>
</div>


</div>
</html>
